Read the MDB file

In [7]:
import sys
sys.path.append( '.' )
import lib.ms_mdbtools as mdb
import pandas as pd

db_filename = 'Mitgliederdatenbank_DSC99.mdb'
table_name = "DSC99-Mitgliederdatenbank"

df = mdb.read_table(db_filename, table_name)

Clean mitnum, fanum, zahlernr

In [9]:
df = df.assign( mitnum_clean=df["Mitnum"].str.replace(' ', '', regex=False).str.replace('.', '-', regex=False) )
df = df.assign( zahlernr_clean=df["Zahlernr"].str.replace(' ', '', regex=False).str.replace('.', '-', regex=False) )

#df.loc['DSC-0433']

df.index = df['mitnum_clean']
df.loc['DSC-0433']

ID                                             691.0
Mitnum                                      DSC-0433
Fanum                                            NaN
Anrede                                         Herrn
Vorname                                    Sebastian
Name                                           Ronge
Postname                             Sebastian Ronge
Strasse                                Klein Eller 5
Plz                                            40229
Ort                                       Düsseldorf
Email                                 S-Ronge@web.de
Telefon                           (02 11) 2 29 37 11
Telefon2                            0173 - 942 05 43
Geburt                             08/02/85 00:00:00
Sportart                         Tennis - Erwachsene
Spind                                            NaN
Mitseit                            03/01/99 00:00:00
Austritt                                         NaN
Geschlecht                                         M
Zahlart                                  Überweisung
Zahlweise                                   jährlich
Zahlernr                                         NaN
Ktoinhaber                                       NaN
Ktonr                                            NaN
Bank                                             NaN
Blz                                              NaN
Bemerk            Ausbildungsbescheinigung liegt vor
Beitrag                                        350.0
Umlage                                          25.0
Spindbeitrag                                     0.0
Email2                                           NaN
Umlage Gastro                                   50.0
Bemerk1                                          NaN
mitnum_clean                                DSC-0433
zahlernr_clean                                   NaN
Name: DSC-0433, dtype: object

Find all Zahler daten: Zahlart, Zahlweise, Zahlernr, Ktoinhaber, ktonr, blz

In [38]:
zahler_full_df = df[ (df['Ktonr'].notnull() ) ]
zahler_df = pd.DataFrame( zahler_full_df, 
    columns=['Mitnum', 'Zahlernr', 'Fanum', 'Zahlart', 'Zahlweise', 'Ktonr', 'Ktoinhaber', 'Blz'])
print( "Unique Ktonr:", zahler_df['Ktonr'].unique().size )
print( "Unique Fanum:", zahler_df['Fanum'].unique().size )

Unique Ktonr: 517
Unique Fanum: 311